@import 'fonts';
@import 'variables';

@import 'widgets/clock';

body, html {
  background: black;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-size: $font-size-lg;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricprecision;
}

